.header{
    height: 100vh;
    background: linear-gradient( rgb(128, 0, 32),rgba(128, 26, 0, 0.671),rgba(0, 0, 0, 0.986));
    color: black;
    align-items: center;
}
.logo {
    font-size: 50px;
    font-weight: bold;
    padding-left: 90px;
    padding-right: 90px;
    animation:  fadeIn 2s infinite;
    top: 0;
}
@keyframes fadeIn{
    0%{
        /* opacity: 0; */
        /* transform: translateX(-100%); */
        transform: scale(0);
    }
    100%{
        /* opacity: 1; */
        /* transform: translateX(0); */
        transform: scale(1);
    }
}

.buttonstyle{
    padding: 10px;
    font-size: 20px;
    animation:  pulse 5s infinite;
}
@keyframes pulse{
    0%{
        
        transform: scale(1);
        
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        
        transform: scale(1);
        
    }
}



.container{
        
    position: relative;
    width: 600px;
    height: 600px;
    /* border: 2px solid #fff; */
    /* border-radius: 50%; */
    margin-left: 200px;
    margin-right: 200px;
}

.container .icon{
    position: relative;
    left: -18%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container .icon .imgbx{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s;
    border: 1px solid #fff;
    box-shadow: 0 0 0 4px #222,
    0 0 0 6px #fff;
    transform: rotate(calc(360deg/4 * var(--i)));
    transform-origin: 300px;
    z-index: 100;
    overflow: hidden;
    
}


.container .icon .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg/4 * var(--i)));
    transition: 0.5s;
    /* filter: grayscale(1); */
}
.container .icon .imgbx.active img{
    filter: grayscale(0);

}
.content{
    
    text-align: center;
    
    
}

.content::before{
    content: '';
    position: absolute;
    inset: 60px;
    border: 4px solid transparent;
    border-left: 4px solid #2196f3;
    border-right: 4px solid #fff;
    border-radius: 50%;
    animation: animate_01 5s linear infinite;
    z-index: 1;
    pointer-events: none;
}
@keyframes  animate_01{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
.content::after{
    content: '';
    position: absolute;
    inset: 120px;
    border: 4px solid transparent;
    border-left: 4px solid #ff1d50;
    border-right: 4px solid #fff;
    border-radius: 50%;
    animation: animate_02 2.5s linear infinite;
    z-index: 1;
    pointer-events: none;
}
@keyframes  animate_02{
    0%{
        rotate: 360deg;
    }
    100%{
        rotate: 0deg;
    }
}









